@import '../setup/variables';
@import '../setup/mixins';

.product-index {
  min-height: 100vh;
  width: 100%;
  background-color: $background-white;
  max-width: 1200px;
  padding: 0 $spacing-md;
  padding-top: $spacing-lg;

 
  overflow-x: hidden;
  margin: 0 auto;
  margin-bottom: 40px;
  
  @media (max-width: 768px) {
    padding: 0 $spacing-sm;
    padding-top: $spacing-md;
  }
  
  @media (max-width: 480px) {
    padding: 0 $spacing-xs;
    padding-top: $spacing-sm;
  }
}
