//Basics
@import 'basics/base';

//Setup
@import 'setup/variables';
@import 'setup/mixins';

//Components
@import 'cmps/AppHeader';
@import 'cmps/AppFooter';
@import 'cmps/Logo';
@import 'cmps/ProductManagement';
@import 'cmps/ProductFilters';
@import 'cmps/ProductList';
@import 'cmps/ProductModal';

//Pages
@import 'pages/HomePage';
@import 'pages/ProductIndex';
@import 'pages/Login';
@import 'pages/CreateUser';
@import 'pages/access-denied';

